
.mr-5 {
  margin-right: 30px;
}

.float-right {
  float: right;
  margin-right: 15px;
}

.green {
  background-color: #0FAA47 !important;
}

.panel-heading {
  background-color: #fff !important;
}

td {
  text-align: center;
  border: none !important;
}

th {
  text-align: center;
  
}
img {
  width: 20px;
}

.action {
  margin-right: 1rem;
}

.center {
  align-content: center;
}
.table-bordered {
  >thead {
    >tr {
      >td {
        border-bottom-width: 0px !important;
        border: none !important;
      }
      >th {
        border: none !important;
        
      }
    }
  }
}
.table-bordered {
  >thead {
    >tr {
      border-top: 1px solid #ddd;
    }
  }
  >tbody {
    border: none !important;
    tr:nth-child(odd) {
      background-color: #F9FAFF;
    }
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}