
.mr-5 {
  margin-right: 30px;
}

.float-right {
  float: right;
  margin-right: 10px;
}
.thumbnail {
  >img {
    width: 154px !important;
  }
  .caption {
    padding: 0 9px !important;
  }
}

.grid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  .col-md-2 {
    margin: 10px;
    padding-right: 0px !important; 
    padding-left: 0px !important; 
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
}
.btn-green {
  background-color: #0FAA47 !important;
  margin-top: 4px;
}

.panel-heading {
  background-color: #fff !important;
  display: flex;
  justify-content: space-between;
}

td {
  text-align: center;
  border: none !important;
}

th {
  text-align: center;
  
}
img {
  width: 20px;
}

.action {
  margin-right: 1rem;
}

.center {
  align-content: center;
}
.table-bordered {
  >thead {
    >tr {
      >td {
        border-bottom-width: 0px !important;
        border: none !important;
      }
      >th {
        border: none !important;
        
      }
    }
  }
}
.table-bordered {
  >thead {
    >tr {
      border-top: 1px solid #ddd;
    }
  }
  >tbody {
    border: none !important;
    tr:nth-child(odd) {
      background-color: #F9FAFF;
    }
  }
}

.frame {
  border: 1px solid #ddd;
}