/* inject:scss */
@import '../../_theme2.scss';
/* endinject */

.nav-link {
  display: flex !important;
  align-items: center;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 45px;
  left: 0;
  background-color: $primaryColor;
  padding-top: 16px;
  a {
    padding: 10px 8px 10px 16px;
    text-decoration: none;
    display: block;
    border-left: 4px solid transparent;
    color: $white;
    &:hover {
      color: $hower-color;
    }
  
    &.active {
      color: $hower-color;
      border-left: 4px solid $hower-color;
    }
  }
}
